<!-- vertically aligning icons

<i class="bi bi-heart"></i>
Example single danger button
<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Action
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Separated link</a></li>
  </ul>
</div>

<i class="bi bi-android2"></i>
 -->

 <html>
  <body>
    <div class="top" style="overflow: hidden;">
      <div class="row">
        <div class="col-md-12">
          <app-navbar></app-navbar>
    </div>
  </div>
      <div class="row">
        <div class="col-md-12">
          <router-outlet></router-outlet>

    </div>
  </div>
</div>
    <!-- <div class="bottom ">
      <div class="row">
        <div class="col-md-12">
          <app-footer></app-footer>
    </div>
  </div>
</div> -->
</body>

</html>