/* .login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('../../../assets/images/illustration.png');
  background-size: cover;
  background-position: center center;
} */


.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
background-size: cover;
  background-position: center center;
}