<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-10 col-lg-8 col-md-9 col-11 text-center">
            
            <div class="card">
                
                <!-- onsubmit="event.preventDefault()" -->
                <form class="form-card" >
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Vertical name<span class="text-danger"> *</span></label> <input type="text" id="fname" name="fname" placeholder="Enter your first name" onblur="validate(1)"> </div>
                        <!-- <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Last name<span class="text-danger"> *</span></label> <input type="text" id="lname" name="lname" placeholder="Enter your last name" onblur="validate(2)"> </div> -->
                        
                            <!-- <div class="form-group col-sm-6 flex-column d-flex">
                                <label for="form-control-label px-3">Vertical name: </label>
                                <select id="form_need" name="need" class="form-control" required="required" data-error="Please specify your need.">
                                    <option value="" selected disabled>--Select Your Issue--</option>
                                    <option >BFS</option>
                                    <option >HTPS</option>
                                    <option >HCI</option>
                                    <option >M&C</option>
                                </select>
                                
                            </div> -->
                        
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="form_message">Description * </label>
                            <textarea id="form_message" name="message" class="form-control" placeholder="Description of Vertical" rows="2" required="required" data-error="Please, leave us a message."></textarea
                                >
                            </div>

                        </div>
                        <div class="row justify-content-end">
                            <div class="form-group col-sm-3"> <button type="submit" class="btn-block btn-primary"  >Create</button> </div>
                            
                        </div>
                    <!-- <div class="row justify-content-between text-left">
                        <label>Key Performance Indicators: </label>
                        <div class="form-group col-sm-3 flex-column d-flex" >
                            <select id="form_need" name="need" class="form-control" required="required" data-error="Please specify your need." >
                                <option value="" selected disabled>--Select KPI--</option>
                                
                                <option  *ngFor="let kpi of kpiData" >{{ kpi['KPI name']}}</option>
                            </select>
                            
                        </div>
                        <div class="form-group col-sm-3 flex-column d-flex"> <label class="form-control-label px-3"><span class="text-danger"> </span></label> <input type="text" id="mob" name="mob" placeholder="Previour Year achived" onblur="validate(4)"> </div>
                        <div class="form-group col-sm-3 flex-column d-flex"> <label class="form-control-label px-3"><span class="text-danger"> </span></label> <input type="text" id="job" name="job" placeholder="Target for this year" onblur="validate(5)"> </div>
                        <div class="form-group col-sm-3"> <button type="submit" class="btn-block btn-primary"  >Save</button> </div>

                    </div> -->
                    <!-- <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Job title<span class="text-danger"> *</span></label> <input type="text" id="job" name="job" placeholder="Target for this year" onblur="validate(5)"> </div>
                    </div> -->
                    <br>
                    <!-- <div class="row justify-content-between">
                        <a href="#"class="form-group col-sm-5" (click)="openPopup($event)">Click hear to view employee list</a>
                        <div class="form-group col-sm-3"> <button type="submit" class="btn-block btn-primary" (click)="openEmployeePopup()" >Add Employees</button> </div>
                        
                    </div>
                    <app-addemployee *ngIf="showEmployeePopup" (close)="closeEmployeePopup()"></app-addemployee>
                    
                    <app-employeelist [showPopup]="isPopupOpen"></app-employeelist> -->
                </form>
            </div>
        </div>
    </div>
</div>



<!-- <div class="row justify-content-between text-left">
    <div class="form-group col-12 flex-column d-flex"> <label class="form-control-label px-3">KPI<span class="text-danger"> *</span></label> <input type="text" id="ans" name="ans" placeholder="" onblur="validate(6)"> </div>
</div> -->