img{

    height: 100px;

}

.card{

    margin-left: 60px;

    margin-right: 60px;

}

.card-title{

    margin-left: 60px;




    margin-top: 90px;

}

.profile{

    margin-left: 20px;

}